name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby: [jruby-9.3.3.0, '3.0', '3.1']
        faraday: ['~> 0.17', '~> 1', '~>2']
    steps:
    - uses: actions/checkout@v2
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
    - name: Install dependencies
      run: bundle install
      env:
        FARADAY_VERSION: ${{ matrix.faraday}}
    - name: Run tests
      run: bundle exec rake
      env:
        FARADAY_VERSION: ${{ matrix.faraday}}
